
*:not(.fas,.far){
	font-family: 'Montserrat', sans-serif !important;
}

body{
	/*background: rgb(1,206,194);
	background: linear-gradient(137deg, rgba(1,206,194,1) 0%, rgba(84,31,149,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;*/
    background: #f5f5fb;
}
td,th{
	font-size: 0.8rem;
}
.fs-08{
  font-size: 0.8rem;
}
.fs-09{
  font-size: 0.9rem;
}
.fs-1{
  font-size: 1rem;
}
.footer{
	background:transparent !important;
}
.our-header{
	background: #006634; 
}
.fc{
	background: #6a9f6c;
	color: #006634;
}
.sc{
  /*color: #5e81f4;*/
}
.first-gradient{
  /*background: rgb(101,29,142);
  background: linear-gradient(321deg, rgba(101,29,142,1) 0%, rgba(235,81,122,1) 100%);*/
  background:#4d4cac; 
}
.second-gradient{
  /*background: rgb(101,29,142);
  background: linear-gradient(321deg, rgba(101,29,142,1) 0%, rgba(0,202,189,1) 100%);*/
  background: #9698d6;
}
.third-gradient{
  /*background: rgb(101,29,142);
    background: linear-gradient(321deg, rgba(101,29,142,1) 0%, rgb(255 193 7) 100%);*/
    background:#7895f7; 
}
.fourth-gradient{
  /*background: rgb(36,56,101);
  background: linear-gradient(335deg, rgba(36,56,101,1) 11%, rgba(45,67,115,1) 100%);*/
  background: #dc3545; 
}
.fifth-gradient{
  background: rgb(101,29,142);
    background: linear-gradient(321deg, rgba(101,29,142,1) 0%, rgb(81 40 151) 100%);
}
.sixth-gradient{
  background: rgb(38 53 62);
}

.img-logo{
	height: 45px;
	/*filter: brightness(1) invert(0);*/
	/*filter: grayscale(100%)*/
}
.border-none{
  border: none !important;
}
.input-group-text {
    color: #fff;
    background-color: #006634;
    border: none;
}
#select_perusahaan{
  border: 2px solid #006634;
}
a.link-dark.fw-bold.rounded{
  background: #5e81f4;
  color: #fff !important;
}


.thenikdata{
  min-width: 60px !important;
}
/*DATATABLE*/
.pagination{
  font-size: 0.8rem;
}
div.dataTables_filter,
div.dataTables_length {
  display: inline-block;
  margin-left: 1em;
}
div.dataTables_filter{
  float: right;
}

.table {
    --bs-table-striped-bg: rgb(245 245 251 / 48%) !important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5e81f4;
    border-color: #0d6efd;
}
button.dt-button{
	padding: 1px 8px !important;
	border: none;
}
.buttons-copy{
	background: #006634 !important;
    color: #fff !important;
}
.buttons-excel{
	background: #6a9f6c !important;
    color: #fff !important;
}
.buttons-csv{
	background: #a69f24 !important;
    color: #fff !important;
}
.buttons-pdf{
  background: #dc3545 !important;
  color: #fff !important;
}
/*END DATATABLE*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #ff6501;
  border-radius: 0px;
  color: #fff;
  text-shadow: 2px 2px #3b3b3b94;
}
.jkhd.active{
   box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.29) inset;
-webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.29) inset;
-moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.29) inset; 
border: 1px solid #d36111 !important;
}
.jkhd.nonactive{
   box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.29);
-webkit-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.29);
border: 1px solid #ff6501 !important;
}
.nav-pills .nav-link.nonactive{
  background: #f7a379;
  color: #fff;

  
}


.nav-item{
  border: 1px solid #ff6501;
  background: #006634;
  border-radius: 0px;
  font-weight: 500;
}
.nav-center{
  border: solid #ff6501;
  border-width: 1px 0px 1px 0px;
}

/*SIDEBAR*/


.side-menu{
	width: 280px; 
	height: 100%;
	background: transparent;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	font-size: 0.9rem;
	background-color: transparent;
	border: 0;
}
.btn-toggle:hover, .btn-toggle:focus {
    color: #fff !important;
    background-color: #5e81f4;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  color: #fff !important;
    background-color: #5e81f4;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
/*END SIDEBAR*/



