*:not(.fas,.far, .fab){
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
}
h1,h2,h3,h4,h5,h6,.big-title,b{
	font-weight: 400 !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2b5b49;
    border-color: #2b5b49;
}
.dataTables_info,.paginate_button,.dt-button{
	font-size: 0.8rem;
}
button.dt-button, div.dt-button, a.dt-button, input.dt-button{
	padding: .1em 1em;
}
div.dataTables_wrapper div.dataTables_filter input{
	margin-left: 0px !important;
	text-align: center;
}
.dataTables_filter{
  margin-top: 5px;
}
#thetable_length{
  font-size: 0.8rem;
}

.modal-footer {
    justify-content: center;
}
/*LOADING*/
.loading{
  background: rgba(0,0,0,.8);
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: none;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #006634;
  width: 100px;
  height: 100px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#btn-close-modal{
  position: fixed;
    bottom: 20%;
    right: 0px;
    z-index: 100000;
    display: none;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*END LOADING*/

.dnone{
  display: none;
}
.atemplate{
  width: 320px;
  height: 240px;
  margin: auto;
  padding-top: 80px;
  color: #afafaf;
  border: 1px solid #afafaf;
  border-radius: 4px;
  margin-bottom: -30px;
}
.imgsaved{
  /*margin-bottom: 15px;*/
}
.take{
  margin-top: 15px;
}
      

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.buttons-copy{
  background: #1aad34 !important;
  border: 0px !important;
  color: #fff !important;
}
.buttons-pdf{
  background: #f44336 !important;
  border: 0px !important;
  color: #fff !important;
  margin-bottom: 15px !important; 
}
.buttons-excel{
  background: #019934 !important;
  border: 0px !important;
  color: #fff !important;
  margin-bottom: 15px !important; 
}
.modalcheck{
  font-size: 0.6rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: #e8ffe8;
}

.tab-pane{
  border-top:2px solid #e9eeea;
}
.nav-link{
  color: #000;
}
.nav-tabs {
    /*border-color: #006634;*/
}
.logobuttonmenu{
  font-size: 25px;
}
.textbuttonmenu{
  font-weight: 600;
  color: #006c3b;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #dee2e6;
    padding-bottom: 13px;
    -webkit-box-shadow: -1px -1px 5px -1px rgb(188 188 188 / 75%);
}
.nav-tabs .nav-link > .logobuttonmenu{
  display: inline
}
.nav-tabs .nav-link > .textbuttonmenu{
  display: none;
}
.nav-tabs .nav-link.active > .logobuttonmenu{
  display: none
}
.nav-tabs .nav-link.active > .textbuttonmenu{
  display: inline;
}
#report-tab{
  border-radius: 0px;
}

.nav-tabs .nav-link {
    margin-bottom: 5px;
    border: solid white;
    border-width: 0px 1px 0px 1px;
    background: #116839;
    color: #ffffff;
    font-weight: bold;
}


#thetable_wrapper{
  padding: 0px !important;
}

@media screen and (min-width: 600px) {
  body {
    max-width: 600px;
    margin: auto;
    border: 1px solid #dee2e6;
  }
}